---
layout: compress
---

<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}  
  <body>
    <main>
	    
	    {% include navigation.html %}
	    
      {{ content }}
        	    
    </main>
    <footer>
      <hr/>
      <a title="My Mastodon" aria-label="mastodon-link" rel="me" href="https://fosstodon.org/@maxlair" style="text-decoration: none;">
        <img src="https://joinmastodon.org/logos/logo-purple.svg" height="18" width="18" width="" alt="Mastadon Logo" style="object-fit: scale-down">
      </a>
      <a href="https://github.com/maxlair1" title="My Github" aria-label="mastodon-link" style="text-decoration: none;">
        <img src="https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/github.svg" height="18" width="18" alt="Github Logo" style="object-fit: scale-down;">
      </a>
      <br/>
      <small>&copy; {{ site.time | date: "%Y" }} Max Lair</small>
    </footer>
            
  </body>
</html>
