---
layout: compress
---

<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}  
  <body>
    <main>
	    
	    {% include navigation.html %}
	    
      {{ content }}
        	    
    </main>
    <footer>
      <hr/>
      <a title="My Mastodon" aria-label="mastodon-link" rel="me" height="18" width="18" href="https://fosstodon.org/@maxlair" style="object-fit: scale-down;">
        <img src="https://joinmastodon.org/logos/logo-purple.svg" qua width="" alt="Mastadon Logo">
      </a>
      <a href="https://github.com/maxlair1" title="My Github" aria-label="mastodon-link">
        <img src="https://commons.wikimedia.org/wiki/File:Octicons-mark-github.svg" height="18" width="18" alt="Github Logo" style="object-fit: scale-down;">
      </a>
      <small>&copy; {{ site.time | date: "%Y" }} Max Lair</small>
    </footer>
            
  </body>
</html>
